h1 {
    text-align: center;
}

td {
    text-align: center;
    font-size: 32px;
    width: 100px;
    height: 100px;
}

td:hover {
    background: red;
}

table {
    margin: 5px auto;
}

.yatay {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.dikey {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}