p {
    font-size: 23px;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
    width: 25%;
    border-bottom: 2px solid black; 
    padding-bottom: 15px;
    text-align: center;
}

img {
    width: 30%;
    float: left;
    margin: 1.66%;
    margin-bottom: 0%;
}

h2:hover {
    background: red;
}

h2 {
    width: 30%;
    float: left;
    margin: 1.6%;
    margin-top: 0%;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 20px;
    padding-top: 20px;  
    
}