p {
    font-size: 23px;
    margin: 0 auto;
    font-weight: 800;
    text-transform: uppercase;
    width: 25%;
    border-bottom: 2px solid black; 
    padding-bottom: 15px;
    text-align: center;
}

img {
    width: 30%;
    float: left;
    margin: 1.6%;
}

img:hover {
    border-color: red;
}

h3 {
    width: 30%;
    float: left;
    margin: 1.6%;
}